{% extends 'school/adminbase.html' %}
{% load widget_tweaks %}

{% block content %}

<head>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
      background: -webkit-linear-gradient(left, #0072ff, #8811c5);
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
    }

    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: #0062cc;
      color: #fff;
    }
  </style>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<!--
written By : Aristocrat david jnr
-->

<!------ signup page for student by admin(sumit)  ---------->
<form method="post">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>New Admission of Student In School</p>
      </div>

      <div class="form-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {% render_field form1.first_name class="form-control" placeholder="First Name" %}
            </div>
            <div class="form-group">
              {% render_field form1.username class="form-control" placeholder="Username" %}
            </div>
            <div class="form-group">
              {% render_field form2.mobile class="form-control" placeholder="Mobile" %}
            </div>
            <div class="form-group">
              {% render_field form2.cl class="form-control" placeholder="Class" %}
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              {% render_field form1.last_name class="form-control" placeholder="Last Name" %}
            </div>
            <div class="form-group">
              {% render_field form1.password class="form-control" placeholder="Password" %}
            </div>
            <div class="form-group">
              {% render_field form2.fee class="form-control" placeholder="Fee" %}
            </div>
            <div class="form-group">
              {% render_field form2.roll class="form-control" placeholder="Roll" %}
            </div>
          </div>
        </div>
        <button type="submit" class="btnSubmit">Submit</button>
      </div>
    </div>
  </div>

</form>



{% endblock content %}
